.skills{
    background: #1e1e1e;
}
.skills__title{
    color: #058218;
    font-size: clamp(1.75rem,7vw,3rem);
    text-align: center;
}
.skllis__img{
    width: 76%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.skllis__html{
    background: #1e1e1e;
    margin-top: 30px;
}
.html__text{
    color: #058218;
    text-align: center;
    font-size: 1.25rem;
}
.html__skills{
    width: 100%;
   background: #C5C5C5;

}
.html__indicator{
    width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #058218;

}

.skllis__css{
    background: #1e1e1e;
    margin-top: 24px;
}
.css__text{
    color: #058218;
    text-align: center;
    font-size: 1.25rem;
}
.css__skills{
    width: 100%;

   background: #C5C5C5;

}
.css__indicator{
    width: 75%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #058218;

}
.css{
    margin-top: 24px;
}
.js{
    background: #1e1e1e;
    margin-top: 24px;
}
.js__text{
    color: #058218;
    text-align: center;
    font-size: clamp(1.25rem,5vw,1.25rem);
}
.js__skills{
    width: 100%;

   background: #C5C5C5;

}
.js__indicator{
    width: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #058218;

}
@media screen and (min-width:744px){
    .skllis__img{
        width: 73%;
    }
    .skllis__html{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
@media screen and (min-width:1280px){
    .skllis__img{
     width:  36%;
    }
 }

